@media (max-width: 1439px) {
    .sidepanel {
        left: 30px;
    }
    .header {
        padding: 0 100px;
        &__left-block {
            min-width: 780px;
        }
    }
    .preview {
        .tabcontainer {
            max-width: 1000px;
            .tabcontent {
                &__descr {
                    width: 475px;
                    height: 300px;
                    padding: 30px;
                    font-size: 22px;
                    left: -10px;
                    top: 260px;
                }
            }
        }
    }

    .offer {
        .container {
            max-width: 1100px;
            justify-content: space-around;
        }
        &__slider {
            max-width: 550px;
        }
    }

    .menu {
        .container {
            max-width: 1080px;
        }

        &__item {
            width: 340px;
        }
    }

    .promotion {
        .container {
            max-width: 1080px;
        }
        &__text {
            width: 45%;
        }
        &__timer {
            width: 55%;
        }
    }

}

@media (max-width: 1200px) {

    .sidepanel {
        left: 22px;
    }
    .header {
        padding: 0 60px;
        &__left-block {
            min-width: 680px;
        }
        &__link {
            margin-right: 15px;
        }
    }
    .btn {
        &_white {
            width: 140px;
            height: 55px;
        }
    }

    .preview {
        .tabcontainer {
            max-width: 870px;
            .tabcontent {
                &__descr {
                    width: 430px;
                    height: 250px;
                    padding: 25px;
                    font-size: 19px;
                    left: 0px;
                    top: 230px;
                }
            }
        }
    }

    .offer {
        .container {
            max-width: 893px;
        }
        &__slider {
            max-width: 500px;
            #current {
                font-size: 42px;
            }
        }
        &__advantages {
            width: 300px;
            margin-top: 20px;
        }
    }

    .calculating {
        &__choose{
            &_medium {
                width: 643px;
            }
            &_big {
                width: 833px;
                .calculating__choose-item {
                    width: 175px;
                }
            }
        }
        &__result {
            span {
                margin-right: 15px;
            }
        }
    }

    .menu {
        .container {
            max-width: 893px;
        }

        &__field {
            margin: 0;
        }

        &__item {
            width: 275px;
            &-descr {
                padding: 0;
            }
        }
    }

    .promotion {
        .container {
            max-width: 893px;
        }
        &__descr {
            font-size: 18px;
        }
        &__timer {
            .timer {
                padding: 20px;
            }
        }
    }

    
}


@media (max-width: 992px) {
    .header {
        &__link {
            display: inline-block;
            &:nth-child(2n+1) {
                width: 100px;
                text-align: center;
            }
        }
        &__right-block {
            display: none;
        }
    }

    .btn {
       &_white {
        display: none;
       }
    }

    .preview {
        .tabcontainer {
            max-width: 680px;
            .tabcontent {
                max-width: 600px;
                &__descr {
                    padding: 13px;
                    line-height: 27px;
                    width: 350px;
                    height: 200px;
                    font-size: 16px;
                    top: 180px;
                }
            }
        }
        .tabheader {
            h3 {
                font-size: 20px;
            }
            &__item {
                font-size: 19px;
            }
        }
    }

    .offer {
        .container {
            max-width: 650px;
            flex-direction: column;
        }
        &__text {
            margin: 0;
        }
        &__slider {
            max-width: 650px;
            #current {
                font-size: 48px;
            }
        }
        &__advantages {
            text-align: center;
            width: 650px;
            margin-top: 0;
            h2:first-child {
                margin-top: 20px;
            }
        }
    }

    .calculating {
        .container {
            max-width: 700px;
        }

        &__choose{
            &_medium {
                width: 600px;
                .calculating__choose-item {
                    width: 160px;
                }
            }
            &_big {
                flex-wrap: wrap;
                width: 600px;
                gap: 30px;
                justify-content: center;
            }
        }
    }


    .menu {
        .container {
            max-width: 700px;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        &__field {
            margin: 0;
        }

        &__item {
            width: 648px;
            display: flex;
            min-height: 240px;
            justify-content: center;
            img {
                width: 200px;
            }
            &-subtitle {
                margin-top: 0;
            }
            &-descr {
                padding: 0 20px;
            }
        }
    }

    .promotion {
        padding: 70px 0 70px 0;
        .container {
            max-width: 700px;
        }
        &__descr {
            padding: 10px;
        }
        &__timer {
            .timer {
                padding: 0px;
                &__block {
                    width: 85px;
                    height: 105px;
                    span {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {

    .title, .title_white {
        font-size: 30px;
    }

    .header {
        height: 100px;
        padding: 0 40px;
        &__left-block {
            min-width: 500px;
        }
        &__links {
            display: none;
        }
        .burger {
            display: block;
        }
        &__mobile {
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            .header__left-block {
                flex-direction: column;
                align-items: center;  
            }
            .header__links {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 40px;
                margin-top: 50px;
            }
            .header__link {
                text-align: center;
                width: 100%;
                margin-right: 0;
            }
            .header__right-block {
                display: block;
            }
        }
        .logo {
            margin-right: 46px;
        }
    }

    .no-scroll {
        overflow: hidden;
        .sidepanel {
            display: none;
        }
    }

    .sidepanel {
        display: none;
    }

    .preview {
        padding: 30px 0;
        .tabcontainer {
            max-width: 500px;
            flex-direction: column-reverse;
            align-items: center;
            .tabcontent {
                max-width: 450px;
                img {
                    padding: 0;
                }
                &__descr {
                    left: 130px;
                    top: 130px;
                }
            }

        }
        .tabheader {
            width: 305px;
            &__items {
                margin: 0;
            }
        }
    }

    .offer {
        padding-top: 0;
        .container {
            max-width: 490px;
        }
        &__slider {
            max-width: 490px;
            #current {
                font-size: 40px;
            }
        }
        &__advantages {
            max-width: 490px;
        }
    }

    .calculating {
        .container {
            max-width: 490x;
        }

        &__choose{
            &_medium {
                width: 490px;
                .calculating__choose-item {
                    width: 140px;
                }
            }
            &_big {
                width: 490px;
            }
        }
    }

    .menu {
        .container {
            max-width: 490px;
        }

        &__item {
            width: 490px;
            font-size: 14px;
            align-items: center;
            img {
                width: 200px;
            }
            &-descr {
                padding: 0px 13px;
            }
        }
    }

    .order {
        .container {
            max-width: 490px;
        }
        &__input {
            width: 210px;
        }
    }

    .promotion {
        .container {
            max-width: 490px;
            flex-direction: column;
        }

        &__descr {
            margin-top: 10px;
        }

        &__text {
            width: 100%;
        }
        &__timer {
            width: 100%;
            .timer {
                justify-content: space-evenly;
                margin-top: 30px;
            }
        }
    }

}

@media (max-width: 576px) {

    .title, .title_white {
        font-size: 28px;
    }

    .header {
        height: 80px;
        padding: 0 20px;
        &__left-block{
            min-width: 300px;
        }
        &__mobile {
            height: 100vh;
        }
    }

    .preview {
        .tabcontainer {
            max-width: 330px;
            .tabcontent {
                max-width: 300px;
                img {
                    padding: 0;
                }
                &__descr {
                    max-width: 300px;
                    position: relative;
                    left: 0;
                    top: -4px;
                    line-height: 21px;
                }
            }

        }
        .tabheader {
            width: 305px;
            &__items {
                margin: 0;
            }
        }
    }
   
    .offer {
        .container {
            max-width: 310px;
        }
        &__slider {
            max-width: 310px;
            #current {
                font-size: 30px;
            }
        }
        &__slide {
            height: 220px;
        }
        &__advantages {
            max-width: 310px;
        }
    }

    .calculating {
        .container {
            max-width: 310x;
        }

        .title {
            font-size: 44px;
            padding-left: 20px;
            padding-right: 20px;

        }

        &__choose{
            &-item{
                width: 150px;
            }
            &_medium {
                width: 300px;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
            }
            &_big {
                width: 300px;
                .calculating__choose-item {
                    width: 130px;
                }
            }
        }

        &__total {
            width: 300px;
            .calculating__subtitle {
                text-align: start;
                width: 150px;
            }
        }
    }

    .menu {
        .container {
            max-width: 310px;
        }

        &__item {
            width: 300px;
            flex-direction: column;
            img {
                width: 180px;
                height: 180px;
            }
            &-subtitle {
                margin-top: 20px;
            }
        }
    }

    .order {
        .container {
            max-width: 310px;
        }

        &__form {
            width: 310px;
        }
    }

    .promotion {
        .container {
            max-width: 310px;
        }

        &__descr {
            margin-top: 10px;
        }

        &__text {
            width: 100%;
        }
        &__timer {
            width: 100%;
            .timer {
                justify-content: space-evenly;
                margin-top: 30px;
                &__block {
                    width: 68px;
                    height: 98px;
                    span {
                        font-size: 37px;
                    }
                }
            }
        }
    }

}