@media (max-width: 1439px) {
    .header {
        padding: 0 100px;
        &__left-block {
            min-width: 780px;
        }
    }
    .preview {
        .tabcontainer {
            max-width: 1000px;
            .tabcontent {
                &__descr {
                    width: 475px;
                    height: 300px;
                    padding: 30px;
                    font-size: 22px;
                    left: -10px;
                    top: 260px;
                }
            }
        }
    }

    .offer {
        .container {
            max-width: 1100px;
            justify-content: space-around;
        }
        &__slider {
            max-width: 550px;
        }
    }

}
@media (max-width: 1200px) {
    .header {
        padding: 0 60px;
        &__left-block {
            min-width: 680px;
        }
        &__link {
            margin-right: 15px;
        }
    }
    .btn {
        &_white {
            width: 140px;
            height: 55px;
        }
    }

    .preview {
        .tabcontainer {
            max-width: 870px;
            .tabcontent {
                &__descr {
                    width: 430px;
                    height: 250px;
                    padding: 25px;
                    font-size: 19px;
                    left: 0px;
                    top: 230px;
                }
            }
        }
    }

    .offer {
        .container {
            max-width: 893px;
        }
        &__slider {
            max-width: 500px;
            #current {
                font-size: 42px;
            }
        }
        &__advantages {
            width: 300px;
            margin-top: 20px;
        }
    }

    
}


@media (max-width: 992px) {
    .header {
        &__link {
            display: inline-block;
            &:nth-child(2n+1) {
                width: 100px;
                text-align: center;
            }
        }
        &__right-block {
            display: none;
        }
    }

    .btn {
       &_white {
        display: none;
       }
    }

    .preview {
        .tabcontainer {
            max-width: 680px;
            .tabcontent {
                max-width: 600px;
                &__descr {
                    padding: 13px;
                    line-height: 27px;
                    width: 350px;
                    height: 200px;
                    font-size: 16px;
                    top: 180px;
                }
            }
        }
        .tabheader {
            h3 {
                font-size: 20px;
            }
            &__item {
                font-size: 19px;
            }
        }
    }

    .offer {
        .container {
            max-width: 650px;
            flex-direction: column;
        }
        &__text {
            margin: 0;
        }
        &__slider {
            max-width: 650px;
            #current {
                font-size: 48px;
            }
        }
        &__advantages {
            text-align: center;
            width: 650px;
            margin-top: 0;
            h2:first-child {
                margin-top: 20px;
            }
        }
    }

}


@media (max-width: 768px) {
    .header {
        height: 100px;
        padding: 0 40px;
        &__left-block {
            min-width: 500px;
        }
        &__links {
            display: none;
        }
        .burger {
            display: block;
        }
        &__mobile {
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            .header__left-block {
                flex-direction: column;
                align-items: center;  
            }
            .header__links {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 40px;
                margin-top: 50px;
            }
            .header__link {
                text-align: center;
                width: 100%;
                margin-right: 0;
            }
            .header__right-block {
                display: block;
            }
        }
    }

    .no-scroll {
        overflow: hidden;
        .sidepanel {
            display: none;
        }
    }

    .sidepanel {
        display: none;
    }

    .preview {
        padding: 30px 0;
        .tabcontainer {
            max-width: 500px;
            flex-direction: column-reverse;
            align-items: center;
            .tabcontent {
                max-width: 450px;
                img {
                    padding: 0;
                }
                &__descr {
                    left: 130px;
                    top: 130px;
                }
            }

        }
        .tabheader {
            width: 305px;
            &__items {
                margin: 0;
            }
        }
    }

    .offer {
        padding-top: 0;
        .container {
            max-width: 490px;
        }
        &__slider {
            max-width: 490px;
            #current {
                font-size: 40px;
            }
        }
        &__advantages {
            max-width: 490px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        height: 80px;
        padding: 0 20px;
        &__left-block{
            min-width: 300px;
        }
    }

    .preview {
        .tabcontainer {
            max-width: 330px;
            .tabcontent {
                max-width: 300px;
                img {
                    padding: 0;
                }
                &__descr {
                    max-width: 300px;
                    position: relative;
                    left: 0;
                    top: -4px;
                    line-height: 21px;
                }
            }

        }
        .tabheader {
            width: 305px;
            &__items {
                margin: 0;
            }
        }
    }
   
    .offer {
        .container {
            max-width: 310px;
        }
        &__slider {
            max-width: 310px;
            #current {
                font-size: 30px;
            }
        }
        &__slide {
            height: 220px;
        }
        &__advantages {
            max-width: 310px;
        }
    }
}